# UAS MACHINE LEARNING ESA UNGGUL

# SOAL 4 A

Lakukan import Library Pandas dan Library Numpy

In [1]:
#Jawaban
#Import Library Pandas


#Import Library Numpy
import pandas as pd
import numpy as np

# SOAL 4 B
DATAFRAME

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

In [2]:
#Jawaban
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe 

dataset = pd.read_csv('Iris.csv')

# SOAL 4 C
Telaah Data
Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

In [3]:
#Jawaban
#Tampilkan tipe data dari kolom yang ada pada dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

# SOAL 4 D

Apakah tipe Data dari kolom berikut ini: (silakan diisi pada cell di bawah ini)

In [ ]:
#Jawaban
#Tipe Data dari kolom yang ada di dataset

#kolom  "Id" memiliki tipe data = ................ <isikan jawaban di sini>
#Kolom "SepalLengthCm" memiliki tipe data = ...... <isikan jawaban di sini>
#Kolom "Species" memiliki tipe data = ............ <isikan jawaban di sini>

#1 "SepalLengthCm " memiliki tipe data float64
#2 "SepalWidthCm " memiliki tipe data float64
#3 "SepalLengthCm " memiliki tipe data float64
#4 "SepalWidthCm " memiliki tipe data float64
#5 "SepalLengthCm " memiliki tipe data float64

# SOAL 4 E

Hitunglah ukuran (jumlah baris dan kolom) dari dataset.

In [ ]:
#Latihan (6)
#Hitung ukuran (jumlah baris dan kolom) dari dataset

# SOAL 4 F

Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [ ]:
#Jawaban
#Tampilkan data untuk kolom "Id" dan kolom "Species" dalam bentuk dataframe

# SOAL 4 G

Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [ ]:
#Jawaban
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

# SOAL 4 H

Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [ ]:
#Jawaban
#Tampilkan data hanya kolom "Id" dan kolom "Species", pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

# kolom = "Species"
# indexno = df.columns.get_loc(kolom)

# print ("index of {} kolom {}".format(kolom, indexno))

# SOAL 4 I

Pada DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().

Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [ ]:
#Jawaban
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe

## Selamat Berjuang Ujian Akhir Semester ##